.sale-container {
    display: flex;
    justify-content: space-between; /* Espacia los cards */
    padding: 20px;
  }
  
  .event-card-container {
    display: flex;
    gap: 20px; /* Espacio entre los dos mat-cards */
  }
  
  .event-card, .summary-card {
    flex: 1; /* Cada card ocupa el mismo espacio */
    max-width: 45%; /* Limita el ancho máximo */
  }
  
  .ticket-selection {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  