.user-profile {
    padding: 20px;
  }
  
  .tickets-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .ticket-card {
    width: 300px;
  }
  
  mat-card {
    margin-bottom: 20px;
  }


app-ticket{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }