.ticket-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mat-card-actions {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.mat-card-actions button {
  flex-grow: 1;
  margin-right: 10px;
}

.mat-card-actions button:last-child {
  margin-right: 0; /* Elimina el margen del último botón */
}

.ticket-info {
  margin-bottom: auto; /* Empuja el contenido hacia arriba */
}

.ticket-card img {
  border-radius: 8px;
  max-width: 100%;
  margin-bottom: 10px;
}
